<!--
<div id="g_id_onload"
     data-client_id="338669335569-a7ccu9o6d0s697ieekudq6a49h33ehe9.apps.googleusercontent.com"
     data-login_uri="http://localhost:4200/#/login"
     data-auto_prompt="false">
</div>
<div class="g_id_signin"
     data-type="standard"
     data-size="large"
     data-theme="outline"
     data-text="sign_in_with"
     data-shape="rectangular"
     data-logo_alignment="left">
</div>
<div id="buttonDiv"></div>
-->
<button (click)="handleGoogleLogin()" class="btn btn-primary btn-block google-login-btn">Login with google</button>

