.element-dasboard-browsing {
  display: flex;
  flex-direction: column;
  height: 2053px;
  align-items: flex-start;
  position: relative;
  background-color: #ffffff;
  overflow: hidden;
}

.element-dasboard-browsing .navigation {
  display: flex;
  flex-direction: column;
  width: 1563px;
  align-items: flex-start;
  position: relative;
  flex: 0 0 auto;
}

.element-dasboard-browsing .top-nav {
  display: flex;
  width: 1920px;
  align-items: center;
  justify-content: space-between;
  padding: 12px 300px;
  margin-right: -357px;
  background-color: var(--secondary-700);
  box-shadow: inset 0px -1px 0px #ffffff29;
  position: relative;
  flex: 0 0 auto;
}

.element-dasboard-browsing .text-wrapper {
  position: relative;
  width: fit-content;
  font-family: var(--body-small-400-font-family);
  font-weight: var(--body-small-400-font-weight);
  color: #ffffff;
  font-size: var(--body-small-400-font-size);
  letter-spacing: var(--body-small-400-letter-spacing);
  line-height: var(--body-small-400-line-height);
  white-space: nowrap;
  font-style: var(--body-small-400-font-style);
}

.element-dasboard-browsing .left-content {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  position: relative;
  flex: 0 0 auto;
}

.element-dasboard-browsing .follow-us {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  position: relative;
  flex: 0 0 auto;
}

.element-dasboard-browsing .div {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: var(--body-small-400-font-family);
  font-weight: var(--body-small-400-font-weight);
  color: var(--gray-00);
  font-size: var(--body-small-400-font-size);
  letter-spacing: var(--body-small-400-letter-spacing);
  line-height: var(--body-small-400-line-height);
  white-space: nowrap;
  font-style: var(--body-small-400-font-style);
}

.element-dasboard-browsing .social-icon {
  position: relative;
  flex: 0 0 auto;
}

.element-dasboard-browsing .line {
  position: relative;
  width: 1px;
  height: 28px;
  object-fit: cover;
}

.element-dasboard-browsing .multi-language {
  position: relative;
  width: 44px;
  height: 20px;
}

.element-dasboard-browsing .dropdown {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  position: relative;
}

.element-dasboard-browsing .img {
  position: relative;
  width: 12px;
  height: 12px;
}

.element-dasboard-browsing .multi-currency {
  position: relative;
  width: 47px;
  height: 20px;
}

.element-dasboard-browsing .about {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: var(--body-small-400-font-family);
  font-weight: var(--body-small-400-font-weight);
  color: #ffffff;
  font-size: var(--body-small-400-font-size);
  letter-spacing: var(--body-small-400-letter-spacing);
  line-height: var(--body-small-400-line-height);
  white-space: nowrap;
  font-style: var(--body-small-400-font-style);
}

.element-dasboard-browsing .middle-nav {
  display: flex;
  width: 1920px;
  align-items: center;
  justify-content: space-between;
  padding: 20px 300px;
  position: relative;
  flex: 0 0 auto;
  margin-right: -357px;
  background-color: var(--secondary-700);
}

.element-dasboard-browsing .frame {
  gap: 8px;
  padding: 14px 20px;
  background-color: var(--gray-00);
  border-radius: 2px;
  box-shadow: 0px 8px 32px #00000014;
  display: inline-flex;
  align-items: flex-start;
  position: relative;
  flex: 0 0 auto;
}

.element-dasboard-browsing .text-wrapper-2 {
  position: relative;
  width: 578px;
  margin-top: -1px;
  font-family: var(--body-small-400-font-family);
  font-weight: var(--body-small-400-font-weight);
  color: var(--gray-500);
  font-size: var(--body-small-400-font-size);
  letter-spacing: var(--body-small-400-letter-spacing);
  line-height: var(--body-small-400-line-height);
  font-style: var(--body-small-400-font-style);
}

.element-dasboard-browsing .img-2 {
  position: relative;
  width: 20px;
  height: 20px;
}

.element-dasboard-browsing .icons {
  display: inline-flex;
  align-items: center;
  gap: 24px;
  position: relative;
  flex: 0 0 auto;
}

.element-dasboard-browsing .img-3 {
  position: relative;
  width: 32px;
  height: 32px;
}

.element-dasboard-browsing .breadcrumb {
  position: relative;
  width: 1674px;
  height: 50px;
  background-color: #f2f3f4;
}

.element-dasboard-browsing .navbar {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  position: relative;
  top: 15px;
  left: 300px;
}

.element-dasboard-browsing .text-wrapper-3 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: var(--body-small-400-font-family);
  font-weight: var(--body-small-400-font-weight);
  color: #5f6c72;
  font-size: var(--body-small-400-font-size);
  letter-spacing: var(--body-small-400-letter-spacing);
  line-height: var(--body-small-400-line-height);
  white-space: nowrap;
  font-style: var(--body-small-400-font-style);
}

.element-dasboard-browsing .behicle-accessories {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: var(--body-small-500-font-family);
  font-weight: var(--body-small-500-font-weight);
  color: var(--secondary-500);
  font-size: var(--body-small-500-font-size);
  letter-spacing: var(--body-small-500-letter-spacing);
  line-height: var(--body-small-500-line-height);
  white-space: nowrap;
  font-style: var(--body-small-500-font-style);
}

.element-dasboard-browsing .dashboard {
  display: inline-flex;
  height: 2868px;
  align-items: flex-start;
  gap: 72px;
  padding: 40px 300px 72px 100px;
  position: relative;
}

.element-dasboard-browsing .navigation-side-bar {
  display: flex;
  flex-direction: column;
  width: 228px;
  align-items: flex-start;
  padding: 16px 0px;
  position: relative;
  background-color: var(--gray-00);
  border-radius: 4px;
  border: 1px solid;
  border-color: var(--gray-100);
  box-shadow: 0px 8px 40px #00000014;
}

.element-dasboard-browsing .dashboard-nav-item {
  position: relative;
  width: 264px;
  height: 40px;
  margin-right: -36px;
}

.element-dasboard-browsing .img-4 {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 10px;
  left: 24px;
}

.element-dasboard-browsing .text-wrapper-4 {
  position: absolute;
  top: 9px;
  left: 56px;
  font-family: var(--body-small-400-font-family);
  font-weight: var(--body-small-400-font-weight);
  color: #5f6c72;
  font-size: var(--body-small-400-font-size);
  letter-spacing: var(--body-small-400-letter-spacing);
  line-height: var(--body-small-400-line-height);
  white-space: nowrap;
  font-style: var(--body-small-400-font-style);
}

.element-dasboard-browsing .dashboard-nav-item-2 {
  position: relative;
  width: 264px;
  height: 40px;
  margin-right: -36px;
  background-color: #f98131;
}

.element-dasboard-browsing .dashboard-2 {
  position: absolute;
  top: 9px;
  left: 56px;
  font-family: var(--body-small-600-font-family);
  font-weight: var(--body-small-600-font-weight);
  color: var(--gray-00);
  font-size: var(--body-small-600-font-size);
  letter-spacing: var(--body-small-600-letter-spacing);
  line-height: var(--body-small-600-line-height);
  white-space: nowrap;
  font-style: var(--body-small-600-font-style);
}

.element-dasboard-browsing .content {
  position: relative;
  width: 985px;
  height: 2756px;
}

.element-dasboard-browsing .heading {
  width: 984px;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.element-dasboard-browsing .text-wrapper-5 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: var(--body-XL-600-font-family);
  font-weight: var(--body-XL-600-font-weight);
  color: #191c1e;
  font-size: var(--body-XL-600-font-size);
  letter-spacing: var(--body-XL-600-letter-spacing);
  line-height: var(--body-XL-600-line-height);
  white-space: nowrap;
  font-style: var(--body-XL-600-font-style);
}

.element-dasboard-browsing .switch {
  display: inline-flex;
  align-items: flex-start;
  gap: 12px;
  position: relative;
  flex: 0 0 auto;
}

.element-dasboard-browsing .text-wrapper-6 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: var(--body-small-400-font-family);
  font-weight: var(--body-small-400-font-weight);
  color: #191c1e;
  font-size: var(--body-small-400-font-size);
  letter-spacing: var(--body-small-400-letter-spacing);
  line-height: var(--body-small-400-line-height);
  white-space: nowrap;
  font-style: var(--body-small-400-font-style);
}

.element-dasboard-browsing .from-elements {
  position: relative;
  width: 36px;
  height: 20px;
  background-color: #f98131;
  border-radius: 100px;
}

.element-dasboard-browsing .ellipse {
  position: relative;
  width: 12px;
  height: 12px;
  top: 4px;
  left: 20px;
  background-color: var(--gray-00);
  border-radius: 6px;
}

.element-dasboard-browsing .browsing-history {
  align-items: center;
  top: 120px;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  gap: 24px;
  padding: 0px 0px 24px;
  position: absolute;
  left: 0;
  background-color: var(--gray-00);
  border-radius: 4px;
  border: 1px solid;
  border-color: var(--gray-100);
}

.element-dasboard-browsing .billing-address-wrapper {
  position: relative;
  width: 984px;
  height: 52px;
  background-color: var(--gray-00);
  border-radius: 4px 4px 0px 0px;
  border: 1px solid;
  border-color: var(--gray-100);
}

.element-dasboard-browsing .billing-address {
  position: absolute;
  top: 15px;
  left: 24px;
  font-family: var(--label-03-font-family);
  font-weight: var(--label-03-font-weight);
  color: #191c1e;
  font-size: var(--label-03-font-size);
  letter-spacing: var(--label-03-letter-spacing);
  line-height: var(--label-03-line-height);
  white-space: nowrap;
  font-style: var(--label-03-font-style);
}

.element-dasboard-browsing .div-2 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  position: relative;
  flex: 0 0 auto;
}

.element-dasboard-browsing .div-3 {
  display: inline-flex;
  align-items: flex-start;
  gap: 4px;
  position: relative;
  flex: 0 0 auto;
}

.element-dasboard-browsing .product {
  position: relative;
  width: 234px;
  height: 320px;
}

.element-dasboard-browsing .overlap-group {
  position: absolute;
  width: 206px;
  height: 176px;
  top: 12px;
  left: 12px;
}

.element-dasboard-browsing .image {
  position: absolute;
  width: 202px;
  height: 172px;
  top: 4px;
  left: 4px;
  object-fit: cover;
}

.element-dasboard-browsing .badge {
  display: inline-flex;
  align-items: flex-start;
  gap: 10px;
  padding: 5px 10px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--danger-500);
  border-radius: 2px;
}

.element-dasboard-browsing .text-wrapper-7 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: var(--body-tiny-600-font-family);
  font-weight: var(--body-tiny-600-font-weight);
  color: var(--gray-00);
  font-size: var(--body-tiny-600-font-size);
  letter-spacing: var(--body-tiny-600-letter-spacing);
  line-height: var(--body-tiny-600-line-height);
  white-space: nowrap;
  font-style: var(--body-tiny-600-font-style);
}

.element-dasboard-browsing .content-2 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  position: absolute;
  top: 212px;
  left: 16px;
}

.element-dasboard-browsing .div-4 {
  display: inline-flex;
  align-items: flex-start;
  position: relative;
  flex: 0 0 auto;
}

.element-dasboard-browsing .regular-star {
  position: relative;
  width: 16px;
  height: 16px;
}

.element-dasboard-browsing .element {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: var(--body-tiny-400-font-family);
  font-weight: var(--body-tiny-400-font-weight);
  color: var(--gray-500);
  font-size: var(--body-tiny-400-font-size);
  letter-spacing: var(--body-tiny-400-letter-spacing);
  line-height: var(--body-tiny-400-line-height);
  white-space: nowrap;
  font-style: var(--body-tiny-400-font-style);
}

.element-dasboard-browsing .DELL-inch-full {
  position: relative;
  width: 202px;
  font-family: var(--body-small-400-font-family);
  font-weight: var(--body-small-400-font-weight);
  color: #191c1e;
  font-size: var(--body-small-400-font-size);
  letter-spacing: var(--body-small-400-letter-spacing);
  line-height: var(--body-small-400-line-height);
  font-style: var(--body-small-400-font-style);
}

.element-dasboard-browsing .element-2 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: var(--body-small-600-font-family);
  font-weight: var(--body-small-600-font-weight);
  color: var(--secondary-500);
  font-size: var(--body-small-600-font-size);
  letter-spacing: var(--body-small-600-letter-spacing);
  line-height: var(--body-small-600-line-height);
  white-space: nowrap;
  font-style: var(--body-small-600-font-style);
}

.element-dasboard-browsing .devider {
  position: relative;
  width: 1px;
  height: 320px;
  object-fit: cover;
}

.element-dasboard-browsing .image-2 {
  top: 16px;
  left: 16px;
  object-fit: cover;
  position: absolute;
  width: 202px;
  height: 172px;
}

.element-dasboard-browsing .div-wrapper {
  top: 0;
  left: 0;
  background-color: var(--secondary-500);
  display: inline-flex;
  align-items: flex-start;
  gap: 10px;
  padding: 5px 10px;
  position: absolute;
  border-radius: 2px;
}

.element-dasboard-browsing .browsing-history-2 {
  align-items: flex-start;
  top: 564px;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  gap: 24px;
  padding: 0px 0px 24px;
  position: absolute;
  left: 0;
  background-color: var(--gray-00);
  border-radius: 4px;
  border: 1px solid;
  border-color: var(--gray-100);
}

.element-dasboard-browsing .row {
  padding: 0px 0px 0px 24px;
  display: inline-flex;
  align-items: flex-start;
  gap: 4px;
  position: relative;
  flex: 0 0 auto;
}

.element-dasboard-browsing .image-3 {
  top: 4px;
  left: 4px;
  position: absolute;
  width: 202px;
  height: 172px;
}

.element-dasboard-browsing .browsing-history-3 {
  align-items: center;
  top: 1008px;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  gap: 24px;
  padding: 0px 0px 24px;
  position: absolute;
  left: 0;
  background-color: var(--gray-00);
  border-radius: 4px;
  border: 1px solid;
  border-color: var(--gray-100);
}

.element-dasboard-browsing .devider-2 {
  width: 936px;
  object-fit: cover;
  position: relative;
  height: 1px;
}

.element-dasboard-browsing .badge-2 {
  top: 0;
  left: 0;
  background-color: var(--gray-400);
  display: inline-flex;
  align-items: flex-start;
  gap: 10px;
  padding: 5px 10px;
  position: absolute;
  border-radius: 2px;
}

.element-dasboard-browsing .browsing-history-4 {
  align-items: center;
  top: 1796px;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  gap: 24px;
  padding: 0px 0px 24px;
  position: absolute;
  left: 0;
  background-color: var(--gray-00);
  border-radius: 4px;
  border: 1px solid;
  border-color: var(--gray-100);
}

.element-dasboard-browsing .product-2 {
  position: relative;
  width: 234px;
  height: 320px;
  overflow: hidden;
}

.element-dasboard-browsing .image-4 {
  top: 2767px;
  left: -21px;
  object-fit: cover;
  position: absolute;
  width: 202px;
  height: 172px;
}

.element-dasboard-browsing .regular-star-2 {
  margin-bottom: -2539px;
  margin-left: -53px;
  position: relative;
  width: 16px;
  height: 16px;
}

.element-dasboard-browsing .regular-star-3 {
  margin-bottom: -2539px;
  margin-left: -37px;
  position: relative;
  width: 16px;
  height: 16px;
}

.element-dasboard-browsing .regular-star-4 {
  margin-bottom: -2539px;
  margin-left: -21px;
  position: relative;
  width: 16px;
  height: 16px;
}

.element-dasboard-browsing .regular-star-5 {
  margin-bottom: -2539px;
  margin-left: -5px;
  position: relative;
  width: 16px;
  height: 16px;
}

.element-dasboard-browsing .regular-star-6 {
  margin-bottom: -2539px;
  position: relative;
  width: 16px;
  height: 16px;
}

.element-dasboard-browsing .devider-3 {
  width: 320px;
  margin-bottom: -2432px;
  object-fit: cover;
  position: relative;
  height: 1px;
}

.element-dasboard-browsing .image-5 {
  top: 2767px;
  left: -263px;
  object-fit: cover;
  position: absolute;
  width: 202px;
  height: 172px;
}

.element-dasboard-browsing .regular-star-7 {
  margin-bottom: -2539px;
  margin-left: -295px;
  position: relative;
  width: 16px;
  height: 16px;
}

.element-dasboard-browsing .regular-star-8 {
  margin-bottom: -2539px;
  margin-left: -279px;
  position: relative;
  width: 16px;
  height: 16px;
}

.element-dasboard-browsing .regular-star-9 {
  margin-bottom: -2539px;
  margin-left: -263px;
  position: relative;
  width: 16px;
  height: 16px;
}

.element-dasboard-browsing .regular-star-10 {
  margin-bottom: -2539px;
  margin-left: -247px;
  position: relative;
  width: 16px;
  height: 16px;
}

.element-dasboard-browsing .regular-star-11 {
  margin-bottom: -2539px;
  margin-left: -231px;
  position: relative;
  width: 16px;
  height: 16px;
}

.element-dasboard-browsing .element-3 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Public Sans", Helvetica;
  font-weight: 400;
  color: var(--gray-400);
  font-size: 14px;
  letter-spacing: 0;
  line-height: 20px;
  text-decoration: line-through;
  white-space: nowrap;
}

.element-dasboard-browsing .badge-3 {
  top: 12px;
  left: 12px;
  background-color: var(--warning-400);
  display: inline-flex;
  align-items: flex-start;
  gap: 10px;
  padding: 5px 10px;
  position: absolute;
  border-radius: 2px;
}

.element-dasboard-browsing .text-wrapper-8 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: var(--body-tiny-600-font-family);
  font-weight: var(--body-tiny-600-font-weight);
  color: #191c1e;
  font-size: var(--body-tiny-600-font-size);
  letter-spacing: var(--body-tiny-600-letter-spacing);
  line-height: var(--body-tiny-600-line-height);
  white-space: nowrap;
  font-style: var(--body-tiny-600-font-style);
}

.element-dasboard-browsing .image-6 {
  top: 2767px;
  left: -505px;
  object-fit: cover;
  position: absolute;
  width: 202px;
  height: 172px;
}

.element-dasboard-browsing .regular-star-12 {
  margin-bottom: -2539px;
  margin-left: -537px;
  position: relative;
  width: 16px;
  height: 16px;
}

.element-dasboard-browsing .regular-star-13 {
  margin-bottom: -2539px;
  margin-left: -521px;
  position: relative;
  width: 16px;
  height: 16px;
}

.element-dasboard-browsing .regular-star-14 {
  margin-bottom: -2539px;
  margin-left: -505px;
  position: relative;
  width: 16px;
  height: 16px;
}

.element-dasboard-browsing .regular-star-15 {
  margin-bottom: -2539px;
  margin-left: -489px;
  position: relative;
  width: 16px;
  height: 16px;
}

.element-dasboard-browsing .regular-star-16 {
  margin-bottom: -2539px;
  margin-left: -473px;
  position: relative;
  width: 16px;
  height: 16px;
}

.element-dasboard-browsing .devider-4 {
  width: 320px;
  margin-bottom: -2432px;
  margin-right: -45px;
  object-fit: cover;
  position: relative;
  height: 1px;
}

.element-dasboard-browsing .image-7 {
  top: 2767px;
  left: -747px;
  object-fit: cover;
  position: absolute;
  width: 202px;
  height: 172px;
}

.element-dasboard-browsing .regular-star-17 {
  margin-bottom: -2539px;
  margin-left: -779px;
  position: relative;
  width: 16px;
  height: 16px;
}

.element-dasboard-browsing .regular-star-18 {
  margin-bottom: -2539px;
  margin-left: -763px;
  position: relative;
  width: 16px;
  height: 16px;
}

.element-dasboard-browsing .regular-star-19 {
  margin-bottom: -2539px;
  margin-left: -747px;
  position: relative;
  width: 16px;
  height: 16px;
}

.element-dasboard-browsing .regular-star-20 {
  margin-bottom: -2539px;
  margin-left: -731px;
  position: relative;
  width: 16px;
  height: 16px;
}

.element-dasboard-browsing .regular-star-21 {
  margin-bottom: -2539px;
  margin-left: -715px;
  position: relative;
  width: 16px;
  height: 16px;
}

.element-dasboard-browsing .browsing-history-5 {
  align-items: flex-start;
  top: 2240px;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  gap: 24px;
  padding: 0px 0px 24px;
  position: absolute;
  left: 0;
  background-color: var(--gray-00);
  border-radius: 4px;
  border: 1px solid;
  border-color: var(--gray-100);
}

.element-dasboard-browsing .products {
  justify-content: center;
  gap: 16px;
  padding: 0px 0px 0px 24px;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  flex: 0 0 auto;
}

.element-dasboard-browsing .image-8 {
  top: 2323px;
  left: -33px;
  object-fit: cover;
  position: absolute;
  width: 202px;
  height: 172px;
}

.element-dasboard-browsing .regular-star-22 {
  margin-bottom: -2095px;
  margin-left: -65px;
  position: relative;
  width: 16px;
  height: 16px;
}

.element-dasboard-browsing .regular-star-23 {
  margin-bottom: -2095px;
  margin-left: -49px;
  position: relative;
  width: 16px;
  height: 16px;
}

.element-dasboard-browsing .regular-star-24 {
  margin-bottom: -2095px;
  margin-left: -33px;
  position: relative;
  width: 16px;
  height: 16px;
}

.element-dasboard-browsing .regular-star-25 {
  margin-bottom: -2095px;
  margin-left: -17px;
  position: relative;
  width: 16px;
  height: 16px;
}

.element-dasboard-browsing .regular-star-26 {
  margin-bottom: -2095px;
  margin-left: -1px;
  position: relative;
  width: 16px;
  height: 16px;
}

.element-dasboard-browsing .badge-4 {
  top: 12px;
  left: 12px;
  background-color: var(--success-500);
  display: inline-flex;
  align-items: flex-start;
  gap: 10px;
  padding: 5px 10px;
  position: absolute;
  border-radius: 2px;
}

.element-dasboard-browsing .button {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  padding: 16px 394px 0px;
  position: absolute;
  top: 2684px;
  left: 0;
  all: unset;
  box-sizing: border-box;
}

.element-dasboard-browsing .button-2 {
  justify-content: center;
  gap: 12px;
  padding: 0px 32px;
  border-radius: 3px;
  border: 2px solid;
  border-color: #ffe7d6;
  display: inline-flex;
  align-items: center;
  position: relative;
  flex: 0 0 auto;
  all: unset;
  box-sizing: border-box;
}

.element-dasboard-browsing .regular-spinner {
  position: relative;
  width: 24px;
  height: 24px;
  margin-bottom: -1907px;
  margin-left: -419px;
}

.element-dasboard-browsing .label {
  position: relative;
  width: fit-content;
  margin-top: -2px;
  font-family: var(--heading-06-font-family);
  font-weight: var(--heading-06-font-weight);
  color: #f98131;
  font-size: var(--heading-06-font-size);
  letter-spacing: var(--heading-06-letter-spacing);
  line-height: var(--heading-06-line-height);
  white-space: nowrap;
  font-style: var(--heading-06-font-style);
}

.element-dasboard-browsing .filter {
  display: inline-flex;
  align-items: flex-start;
  gap: 12px;
  position: absolute;
  top: 52px;
  left: 0;
}

.element-dasboard-browsing .input-field {
  position: relative;
  width: 424px;
  height: 44px;
  background-color: var(--gray-00);
  border-radius: 2px;
  border: 1px solid;
  border-color: var(--gray-100);
}

.element-dasboard-browsing .email-address {
  position: absolute;
  height: 20px;
  top: 11px;
  left: 47px;
  font-family: var(--body-small-400-font-family);
  font-weight: var(--body-small-400-font-weight);
  color: var(--gray-500);
  font-size: var(--body-small-400-font-size);
  letter-spacing: var(--body-small-400-letter-spacing);
  line-height: var(--body-small-400-line-height);
  white-space: nowrap;
  font-style: var(--body-small-400-font-style);
  background: transparent;
  border: none;
  padding: 0;
}

.element-dasboard-browsing .regular {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 12px;
  left: 15px;
}

.element-dasboard-browsing .date {
  position: relative;
  width: 312px;
  height: 44px;
  border-radius: 2px;
  overflow: hidden;
}

.element-dasboard-browsing .overlap-group-2 {
  position: relative;
  height: 358px;
  border-radius: 2px;
}

.element-dasboard-browsing .calendar-date-popup {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  padding: 60px 16px 16px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--gray-00);
  border-radius: 2px;
  border: 1px solid;
  border-color: var(--gray-100);
  box-shadow: var(--dropdown-shadow);
}

.element-dasboard-browsing .heading-2 {
  width: 280px;
  position: relative;
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.element-dasboard-browsing .regular-arrowleft {
  margin-left: -477px;
  position: relative;
  width: 24px;
  height: 24px;
  margin-bottom: -4511px;
}

.element-dasboard-browsing .text-wrapper-9 {
  position: relative;
  width: fit-content;
  font-family: var(--body-small-400-font-family);
  font-weight: var(--body-small-400-font-weight);
  color: #191c1e;
  font-size: var(--body-small-400-font-size);
  text-align: center;
  letter-spacing: var(--body-small-400-letter-spacing);
  line-height: var(--body-small-400-line-height);
  white-space: nowrap;
  font-style: var(--body-small-400-font-style);
}

.element-dasboard-browsing .regular-arrowright {
  margin-left: -221px;
  position: relative;
  width: 24px;
  height: 24px;
  margin-bottom: -4511px;
}

.element-dasboard-browsing .div-5 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  flex: 0 0 auto;
}

.element-dasboard-browsing .calender-components {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 14px 0px;
  position: relative;
  flex: 0 0 auto;
  border-radius: 4px;
}

.element-dasboard-browsing .DD {
  position: relative;
  width: 40px;
  margin-top: -0.5px;
  font-family: var(--sub-heading-04-font-family);
  font-weight: var(--sub-heading-04-font-weight);
  color: var(--gray-400);
  font-size: var(--sub-heading-04-font-size);
  text-align: center;
  letter-spacing: var(--sub-heading-04-letter-spacing);
  line-height: var(--sub-heading-04-line-height);
  font-style: var(--sub-heading-04-font-style);
}

.element-dasboard-browsing .calender-components-2 {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px 0px;
  position: relative;
  flex: 0 0 auto;
  border-radius: 4px;
}

.element-dasboard-browsing .text-wrapper-10 {
  font-weight: var(--body-small-400-font-weight);
  color: #adb7bc;
  position: relative;
  width: 40px;
  margin-top: -0.5px;
  font-family: var(--body-small-400-font-family);
  font-size: var(--body-small-400-font-size);
  text-align: center;
  letter-spacing: var(--body-small-400-letter-spacing);
  line-height: var(--body-small-400-line-height);
  font-style: var(--body-small-400-font-style);
}

.element-dasboard-browsing .text-wrapper-11 {
  position: relative;
  width: 40px;
  margin-top: -0.5px;
  font-family: var(--body-small-400-font-family);
  font-weight: var(--body-small-400-font-weight);
  color: var(--gray-700);
  font-size: var(--body-small-400-font-size);
  text-align: center;
  letter-spacing: var(--body-small-400-letter-spacing);
  line-height: var(--body-small-400-line-height);
  font-style: var(--body-small-400-font-style);
}

.element-dasboard-browsing .element-wrapper {
  background-color: #f98131;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px 0px;
  position: relative;
  flex: 0 0 auto;
  border-radius: 4px;
}

.element-dasboard-browsing .element-4 {
  font-weight: var(--body-small-500-font-weight);
  color: var(--gray-00);
  position: relative;
  width: 40px;
  margin-top: -0.5px;
  font-family: var(--body-small-500-font-family);
  font-size: var(--body-small-500-font-size);
  text-align: center;
  letter-spacing: var(--body-small-500-letter-spacing);
  line-height: var(--body-small-500-line-height);
  font-style: var(--body-small-500-font-style);
}

.element-dasboard-browsing .input-field-2 {
  position: absolute;
  width: 312px;
  height: 44px;
  top: 0;
  left: 0;
  background-color: var(--gray-00);
  border-radius: 2px 2px 0px 0px;
  border: 1px solid;
  border-color: var(--gray-100);
}

.element-dasboard-browsing .email-address-2 {
  position: absolute;
  height: 20px;
  top: 11px;
  left: 47px;
  font-family: var(--body-small-400-font-family);
  font-weight: var(--body-small-400-font-weight);
  color: var(--gray-500);
  font-size: var(--body-small-400-font-size);
  letter-spacing: var(--body-small-400-letter-spacing);
  line-height: var(--body-small-400-line-height);
  white-space: nowrap;
  font-style: var(--body-small-400-font-style);
}

.element-dasboard-browsing .footer {
  position: relative;
  width: 1920px;
  height: 472px;
  margin-right: -227px;
}

.element-dasboard-browsing .footer-2 {
  display: inline-flex;
  align-items: flex-start;
  gap: 24px;
  padding: 72px 300px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #191c1e;
}

.element-dasboard-browsing .clicon-ecommerce {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  position: relative;
  flex: 0 0 auto;
}

.element-dasboard-browsing .logo {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  position: relative;
  flex: 0 0 auto;
}

.element-dasboard-browsing .icon {
  position: relative;
  width: 48px;
  height: 48px;
  margin-bottom: -1723px;
}

.element-dasboard-browsing .text-wrapper-12 {
  position: relative;
  width: fit-content;
  font-family: "Public Sans", Helvetica;
  font-weight: 700;
  color: var(--gray-00);
  font-size: 32px;
  letter-spacing: -0.64px;
  line-height: 40px;
  white-space: nowrap;
}

.element-dasboard-browsing .div-6 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  position: relative;
  flex: 0 0 auto;
}

.element-dasboard-browsing .text-wrapper-13 {
  position: relative;
  width: 312px;
  margin-top: -1px;
  font-family: var(--body-small-400-font-family);
  font-weight: var(--body-small-400-font-weight);
  color: var(--gray-500);
  font-size: var(--body-small-400-font-size);
  letter-spacing: var(--body-small-400-letter-spacing);
  line-height: var(--body-small-400-line-height);
  font-style: var(--body-small-400-font-style);
}

.element-dasboard-browsing .text-wrapper-14 {
  position: relative;
  width: 312px;
  font-family: var(--body-large-500-font-family);
  font-weight: var(--body-large-500-font-weight);
  color: var(--gray-00);
  font-size: var(--body-large-500-font-size);
  letter-spacing: var(--body-large-500-letter-spacing);
  line-height: var(--body-large-500-line-height);
  font-style: var(--body-large-500-font-style);
}

.element-dasboard-browsing .p {
  position: relative;
  width: 248px;
  font-family: var(--body-medium-400-font-family);
  font-weight: var(--body-medium-400-font-weight);
  color: #adb7bc;
  font-size: var(--body-medium-400-font-size);
  letter-spacing: var(--body-medium-400-letter-spacing);
  line-height: var(--body-medium-400-line-height);
  font-style: var(--body-medium-400-font-style);
}

.element-dasboard-browsing .text-wrapper-15 {
  position: relative;
  width: 312px;
  font-family: var(--body-medium-500-font-family);
  font-weight: var(--body-medium-500-font-weight);
  color: var(--gray-00);
  font-size: var(--body-medium-500-font-size);
  letter-spacing: var(--body-medium-500-letter-spacing);
  line-height: var(--body-medium-500-line-height);
  font-style: var(--body-medium-500-font-style);
}

.element-dasboard-browsing .text-wrapper-16 {
  position: relative;
  width: 200px;
  margin-top: -1px;
  font-family: var(--label-02-font-family);
  font-weight: var(--label-02-font-weight);
  color: var(--gray-00);
  font-size: var(--label-02-font-size);
  letter-spacing: var(--label-02-letter-spacing);
  line-height: var(--label-02-line-height);
  font-style: var(--label-02-font-style);
}

.element-dasboard-browsing .footer-links {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  padding: 6px 0px;
  position: relative;
  flex: 0 0 auto;
}

.element-dasboard-browsing .electronics {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: var(--body-small-500-font-family);
  font-weight: var(--body-small-500-font-weight);
  color: var(--gray-400);
  font-size: var(--body-small-500-font-size);
  letter-spacing: var(--body-small-500-letter-spacing);
  line-height: var(--body-small-500-line-height);
  white-space: nowrap;
  font-style: var(--body-small-500-font-style);
}

.element-dasboard-browsing .devider-5 {
  width: 24px;
  margin-bottom: -1582px;
  margin-left: -261px;
  position: relative;
  height: 1px;
}

.element-dasboard-browsing .text-wrapper-17 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: var(--body-small-500-font-family);
  font-weight: var(--body-small-500-font-weight);
  color: var(--gray-00);
  font-size: var(--body-small-500-font-size);
  letter-spacing: var(--body-small-500-letter-spacing);
  line-height: var(--body-small-500-line-height);
  white-space: nowrap;
  font-style: var(--body-small-500-font-style);
}

.element-dasboard-browsing .button-3 {
  gap: 8px;
  padding: 6px 0px;
  background-color: #191c1e;
  display: inline-flex;
  align-items: center;
  position: relative;
  flex: 0 0 auto;
  all: unset;
  box-sizing: border-box;
}

.element-dasboard-browsing .text-wrapper-18 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: var(--body-small-500-font-family);
  font-weight: var(--body-small-500-font-weight);
  color: var(--warning-500);
  font-size: var(--body-small-500-font-size);
  letter-spacing: var(--body-small-500-letter-spacing);
  line-height: var(--body-small-500-line-height);
  white-space: nowrap;
  font-style: var(--body-small-500-font-style);
}

.element-dasboard-browsing .regular-arrowright-2 {
  position: relative;
  width: 20px;
  height: 20px;
  margin-bottom: -1495px;
  margin-left: -128px;
}

.element-dasboard-browsing .div-7 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 18px;
  position: relative;
  flex: 0 0 auto;
}

.element-dasboard-browsing .mobile-app {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  padding: 16px 20px;
  position: relative;
  flex: 0 0 auto;
  background-color: var(--gray-800);
  border-radius: 3px;
}

.element-dasboard-browsing .icon-google-play {
  position: relative;
  width: 32px;
  height: 32px;
  margin-bottom: -1678.5px;
  margin-left: -709px;
}

.element-dasboard-browsing .text-wrapper-19 {
  position: relative;
  width: 88px;
  margin-top: -1px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 11px;
  letter-spacing: 0;
  line-height: 13px;
}

.element-dasboard-browsing .text-wrapper-20 {
  position: relative;
  width: 88px;
  font-family: "Inter", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 20px;
}

.element-dasboard-browsing .apple-negative {
  position: relative;
  width: 32px;
  height: 32px;
  margin-bottom: -1597.5px;
  margin-left: -709px;
}

.element-dasboard-browsing .popular-tag {
  position: relative;
  width: 312px;
  margin-top: -1px;
  font-family: var(--label-02-font-family);
  font-weight: var(--label-02-font-weight);
  color: var(--gray-00);
  font-size: var(--label-02-font-size);
  letter-spacing: var(--label-02-letter-spacing);
  line-height: var(--label-02-line-height);
  font-style: var(--label-02-font-style);
}

.element-dasboard-browsing .tag {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  position: relative;
  flex: 0 0 auto;
}

.element-dasboard-browsing .row-2 {
  align-items: flex-start;
  gap: 8px;
  display: inline-flex;
  position: relative;
  flex: 0 0 auto;
}

.element-dasboard-browsing .cooking-wrapper {
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 6px 12px;
  border-radius: 2px;
  border: 1px solid;
  border-color: var(--gray-800);
  display: inline-flex;
  position: relative;
  flex: 0 0 auto;
}

.element-dasboard-browsing .tag-2 {
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 6px 12px;
  background-color: var(--gray-800);
  border-radius: 2px;
  border: 1px solid;
  border-color: var(--gray-00);
  display: inline-flex;
  position: relative;
  flex: 0 0 auto;
}

.element-dasboard-browsing .copyright {
  display: inline-flex;
  align-items: flex-start;
  gap: 10px;
  padding: 24px 300px;
  position: absolute;
  top: 404px;
  left: 0;
  background-color: #191c1e;
  box-shadow: inset 0px 1px 0px #303639;
}

.element-dasboard-browsing .text-wrapper-21 {
  position: relative;
  width: 1320px;
  margin-top: -1px;
  font-family: var(--body-small-400-font-family);
  font-weight: var(--body-small-400-font-weight);
  color: #adb7bc;
  font-size: var(--body-small-400-font-size);
  text-align: center;
  letter-spacing: var(--body-small-400-letter-spacing);
  line-height: var(--body-small-400-line-height);
  font-style: var(--body-small-400-font-style);
}
