
<div class="element-dasboard-browsing">
  <div class="navigation">
    <div class="top-nav">
      <p class="text-wrapper">Welcome to Clicon online eCommerce store.</p>
      <div class="left-content">
        <div class="follow-us">
          <div class="div">Follow us:</div>
          <img class="social-icon" src="assets/img/social-icon-1.svg" />
        </div>
        <img class="line" src="assets/img/line-1.svg" />
        <div class="multi-language">
          <div class="dropdown">
            <div class="div">Eng</div>
            <img class="img" src="assets/img/regular-caretdown-10.svg" />
          </div>
        </div>
        <div class="multi-currency">
          <div class="dropdown">
            <div class="about">USD</div>
            <img class="img" src="assets/img/regular-caretdown-10.svg" />
          </div>
        </div>
      </div>
    </div>
    <div class="middle-nav">
      <div class="frame">
        <div class="text-wrapper-2">Search for anything...</div>
        <img class="img-2" src="assets/img/regular-magnifyingglass-2.svg" />
      </div>
      <div class="icons">
        <img class="img-3" src="assets/img/heart-3.svg" /> <img class="img-3" src="assets/img/regular-user-2.svg" />
      </div>
    </div>
  </div>
  <div class="breadcrumb">
    <div class="navbar">
      <img class="img-2" src="assets/img/regular-house-2.svg" />
      <div class="text-wrapper-3">Home</div>
      <img class="img" src="assets/img/regular-caretright-8.svg" />
      <div class="text-wrapper-3">User Account</div>
      <img class="img" src="assets/img/regular-caretright-8.svg" />
      <div class="text-wrapper-3">Dashboard</div>
      <img class="img" src="assets/img/regular-caretright-8.svg" />
      <div class="behicle-accessories">Cards &amp; Address</div>
    </div>
  </div>
  <div class="dashboard">
    <div class="navigation-side-bar">
      <div class="dashboard-nav-item">
        <img class="img-4" src="assets/img/regular-stack-9.svg" />
        <div class="text-wrapper-4">Dashboard</div>
      </div>
      <div class="dashboard-nav-item">
        <img class="img-4" src="assets/img/regular-storefront.svg" />
        <div class="text-wrapper-4">Order History</div>
      </div>
      <div class="dashboard-nav-item">
        <img class="img-4" src="assets/img/regular-mappinline.svg" />
        <div class="text-wrapper-4">Track Order</div>
      </div>
      <div class="dashboard-nav-item">
        <img class="img-4" src="assets/img/shoppingcartsimple-1.svg" />
        <div class="text-wrapper-4">Shopping Cart</div>
      </div>
      <div class="dashboard-nav-item">
        <img class="img-4" src="assets/img/heart-1.svg" />
        <div class="text-wrapper-4">Wishlist</div>
      </div>
      <div class="dashboard-nav-item">
        <img class="img-4" src="assets/img/regular-arrowscounterclockwise-2.svg" />
        <div class="text-wrapper-4">Compare</div>
      </div>
      <div class="dashboard-nav-item">
        <img class="img-4" src="assets/img/regular-notebook.svg" />
        <div class="text-wrapper-4">Cards &amp; Address</div>
      </div>
      <div class="dashboard-nav-item-2">
        <img class="img-4" src="assets/img/duotone-clockclockwise-1.svg" />
        <div class="dashboard-2">Browsing History</div>
      </div>
      <div class="dashboard-nav-item">
        <img class="img-4" src="assets/img/regular-gear.svg" />
        <div class="text-wrapper-4">Setting</div>
      </div>
      <div class="dashboard-nav-item">
        <img class="img-4" src="assets/img/regular-signout.svg" />
        <div class="text-wrapper-4">Log-out</div>
      </div>
    </div>
    <div class="content">
      <div class="heading">
        <div class="text-wrapper-5">Browsing History</div>
        <div class="switch">
          <div class="text-wrapper-6">Turn Browsing History on/off</div>
          <div class="from-elements"><div class="ellipse"></div></div>
        </div>
      </div>
      <div class="browsing-history">
        <div class="billing-address-wrapper"><div class="billing-address">17 OCT, 2020</div></div>
        <div class="div-2">
          <div class="div-3">
            <div class="product">
              <div class="overlap-group">
                <img class="image" src="assets/img/image-4.png" />
                <div class="badge"><div class="text-wrapper-7">HOT</div></div>
              </div>
              <div class="content-2">
                <div class="div-3">
                  <div class="div-4">
                    <img class="regular-star" src="assets/img/regular-star-71.svg" />
                    <img class="regular-star" src="assets/img/regular-star-74.svg" />
                    <img class="regular-star" src="assets/img/regular-star-74.svg" />
                    <img class="regular-star" src="assets/img/regular-star-74.svg" />
                    <img class="regular-star" src="assets/img/regular-star-74.svg" />
                  </div>
                  <div class="element">(738)</div>
                </div>
                <p class="DELL-inch-full">TOZO T6 True Wireless Earbuds Bluetooth Headphon...</p>
                <div class="div-3"><div class="element-2">$70</div></div>
              </div>
            </div>
            <img class="devider" src="assets/img/devider-9.svg" />
            <div class="product">
              <img class="image-2" src="assets/img/image-5.png" />
              <div class="content-2">
                <div class="div-3">
                  <div class="div-4">
                    <img class="regular-star" src="assets/img/regular-star-70.svg" />
                    <img class="regular-star" src="assets/img/regular-star-70.svg" />
                    <img class="regular-star" src="assets/img/regular-star-70.svg" />
                    <img class="regular-star" src="assets/img/regular-star-70.svg" />
                    <img class="regular-star" src="assets/img/regular-star-70.svg" />
                  </div>
                  <div class="element">536)</div>
                </div>
                <p class="DELL-inch-full">Samsung Electronics Samsung Galexy S21 5G</p>
                <div class="div-3"><div class="element-2">$2,300</div></div>
              </div>
            </div>
            <img class="devider" src="assets/img/devider-9.svg" />
            <div class="product">
              <div class="overlap-group">
                <img class="image" src="assets/img/image-6.png" />
                <div class="div-wrapper"><div class="text-wrapper-7">BEST DEALS</div></div>
              </div>
              <div class="content-2">
                <div class="div-3">
                  <div class="div-4">
                    <img class="regular-star" src="assets/img/regular-star-70.svg" />
                    <img class="regular-star" src="assets/img/regular-star-70.svg" />
                    <img class="regular-star" src="assets/img/regular-star-70.svg" />
                    <img class="regular-star" src="assets/img/regular-star-70.svg" />
                    <img class="regular-star" src="assets/img/regular-star-70.svg" />
                  </div>
                  <div class="element">423)</div>
                </div>
                <p class="DELL-inch-full">Amazon Basics High-Speed HDMI Cable (18 Gbps, 4K/6...</p>
                <div class="div-3"><div class="element-2">$360</div></div>
              </div>
            </div>
            <img class="devider" src="assets/img/devider-9.svg" />
            <div class="product">
              <img class="image-2" src="assets/img/image-12.png" />
              <div class="content-2">
                <div class="div-3">
                  <div class="div-4">
                    <img class="regular-star" src="assets/img/regular-star-70.svg" />
                    <img class="regular-star" src="assets/img/regular-star-70.svg" />
                    <img class="regular-star" src="assets/img/regular-star-70.svg" />
                    <img class="regular-star" src="assets/img/regular-star-70.svg" />
                    <img class="regular-star" src="assets/img/regular-star-40.svg" />
                  </div>
                  <div class="element">816)</div>
                </div>
                <p class="DELL-inch-full">Portable Wshing Machine, 11lbs capacity Model 18NMF...</p>
                <div class="div-3"><div class="element-2">$80</div></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="browsing-history-2">
        <div class="billing-address-wrapper"><div class="billing-address">17 OCT, 2020</div></div>
        <div class="row">
          <div class="product">
            <div class="overlap-group">
              <img class="image" src="assets/img/image-8.png" />
              <div class="div-wrapper"><div class="text-wrapper-7">BEST DEALS</div></div>
            </div>
            <div class="content-2">
              <div class="div-3">
                <div class="div-4">
                  <img class="regular-star" src="assets/img/regular-star-70.svg" />
                  <img class="regular-star" src="assets/img/regular-star-70.svg" />
                  <img class="regular-star" src="assets/img/regular-star-70.svg" />
                  <img class="regular-star" src="assets/img/regular-star-70.svg" />
                  <img class="regular-star" src="assets/img/regular-star-40.svg" />
                </div>
                <div class="element">(994)</div>
              </div>
              <p class="DELL-inch-full">Amazon Basics High-Speed HDMI Cable (18 Gbps, 4K/6...</p>
              <div class="div-3"><div class="element-2">$360</div></div>
            </div>
          </div>
          <img class="devider" src="assets/img/devider-9.svg" />
          <div class="product">
            <img class="image-2" src="assets/img/image-12.png" />
            <div class="content-2">
              <div class="div-3">
                <div class="div-4">
                  <img class="regular-star" src="assets/img/regular-star-70.svg" />
                  <img class="regular-star" src="assets/img/regular-star-70.svg" />
                  <img class="regular-star" src="assets/img/regular-star-70.svg" />
                  <img class="regular-star" src="assets/img/regular-star-70.svg" />
                  <img class="regular-star" src="assets/img/regular-star-70.svg" />
                </div>
                <div class="element">(798)</div>
              </div>
              <p class="DELL-inch-full">Portable Wshing Machine, 11lbs capacity Model 18NMF...</p>
              <div class="div-3"><div class="element-2">$80</div></div>
            </div>
          </div>
          <img class="devider" src="assets/img/devider-9.svg" />
          <div class="product">
            <div class="overlap-group">
              <img class="image-3" src="assets/img/image-13.png" />
              <div class="badge"><div class="text-wrapper-7">HOT</div></div>
            </div>
            <div class="content-2">
              <div class="div-3">
                <div class="div-4">
                  <img class="regular-star" src="assets/img/regular-star-70.svg" />
                  <img class="regular-star" src="assets/img/regular-star-70.svg" />
                  <img class="regular-star" src="assets/img/regular-star-70.svg" />
                  <img class="regular-star" src="assets/img/regular-star-70.svg" />
                  <img class="regular-star" src="assets/img/regular-star-70.svg" />
                </div>
                <div class="element">(600)</div>
              </div>
              <p class="DELL-inch-full">TOZO T6 True Wireless Earbuds Bluetooth Headphon...</p>
              <div class="div-3"><div class="element-2">$70</div></div>
            </div>
          </div>
        </div>
      </div>
      <div class="browsing-history-3">
        <div class="billing-address-wrapper"><div class="billing-address">24 MAY, 2020</div></div>
        <div class="div-2">
          <div class="div-3">
            <div class="product">
              <div class="overlap-group">
                <img class="image" src="assets/img/image-11.png" />
                <div class="div-wrapper"><div class="text-wrapper-7">BEST DEALS</div></div>
              </div>
              <div class="content-2">
                <div class="div-3">
                  <div class="div-4">
                    <img class="regular-star" src="assets/img/regular-star-71.svg" />
                    <img class="regular-star" src="assets/img/regular-star-74.svg" />
                    <img class="regular-star" src="assets/img/regular-star-74.svg" />
                    <img class="regular-star" src="assets/img/regular-star-74.svg" />
                    <img class="regular-star" src="assets/img/regular-star-75.svg" />
                  </div>
                  <div class="element">(994)</div>
                </div>
                <p class="DELL-inch-full">Amazon Basics High-Speed HDMI Cable (18 Gbps, 4K/6...</p>
                <div class="div-3"><div class="element-2">$360</div></div>
              </div>
            </div>
            <img class="devider" src="assets/img/devider-9.svg" />
            <div class="product">
              <img class="image-2" src="assets/img/image-12.png" />
              <div class="content-2">
                <div class="div-3">
                  <div class="div-4">
                    <img class="regular-star" src="assets/img/regular-star-70.svg" />
                    <img class="regular-star" src="assets/img/regular-star-70.svg" />
                    <img class="regular-star" src="assets/img/regular-star-70.svg" />
                    <img class="regular-star" src="assets/img/regular-star-70.svg" />
                    <img class="regular-star" src="assets/img/regular-star-70.svg" />
                  </div>
                  <div class="element">(798)</div>
                </div>
                <p class="DELL-inch-full">Portable Wshing Machine, 11lbs capacity Model 18NMF...</p>
                <div class="div-3"><div class="element-2">$80</div></div>
              </div>
            </div>
            <img class="devider" src="assets/img/devider-9.svg" />
            <div class="product">
              <div class="overlap-group">
                <img class="image-3" src="assets/img/image-13.png" />
                <div class="badge"><div class="text-wrapper-7">HOT</div></div>
              </div>
              <div class="content-2">
                <div class="div-3">
                  <div class="div-4">
                    <img class="regular-star" src="assets/img/regular-star-70.svg" />
                    <img class="regular-star" src="assets/img/regular-star-70.svg" />
                    <img class="regular-star" src="assets/img/regular-star-70.svg" />
                    <img class="regular-star" src="assets/img/regular-star-70.svg" />
                    <img class="regular-star" src="assets/img/regular-star-70.svg" />
                  </div>
                  <div class="element">(600)</div>
                </div>
                <p class="DELL-inch-full">TOZO T6 True Wireless Earbuds Bluetooth Headphon...</p>
                <div class="div-3"><div class="element-2">$70</div></div>
              </div>
            </div>
            <img class="devider" src="assets/img/devider-9.svg" />
            <div class="product">
              <img class="image-2" src="assets/img/image-14.png" />
              <div class="content-2">
                <div class="div-3">
                  <div class="div-4">
                    <img class="regular-star" src="assets/img/regular-star-70.svg" />
                    <img class="regular-star" src="assets/img/regular-star-70.svg" />
                    <img class="regular-star" src="assets/img/regular-star-70.svg" />
                    <img class="regular-star" src="assets/img/regular-star-70.svg" />
                    <img class="regular-star" src="assets/img/regular-star-70.svg" />
                  </div>
                  <div class="element">(492)</div>
                </div>
                <p class="DELL-inch-full">Dell Optiplex 7000x7480 All-in-One Computer Monitor</p>
                <div class="div-3"><div class="element-2">$250</div></div>
              </div>
            </div>
          </div>
          <img class="devider-2" src="assets/img/devider-10.svg" />
          <div class="product">
            <div class="overlap-group">
              <img class="image" src="assets/img/image-15.png" />
              <div class="badge-2"><div class="text-wrapper-7">SOLD OUT</div></div>
            </div>
            <div class="content-2">
              <div class="div-3">
                <div class="div-4">
                  <img class="regular-star" src="assets/img/regular-star-71.svg" />
                  <img class="regular-star" src="assets/img/regular-star-74.svg" />
                  <img class="regular-star" src="assets/img/regular-star-74.svg" />
                  <img class="regular-star" src="assets/img/regular-star-74.svg" />
                  <img class="regular-star" src="assets/img/regular-star-75.svg" />
                </div>
                <div class="element">(740)</div>
              </div>
              <p class="DELL-inch-full">Samsung Electronics Samsung Galexy S21 5G</p>
              <div class="div-3"><div class="element-2">$2,300</div></div>
            </div>
          </div>
        </div>
      </div>
      <div class="browsing-history-4">
        <div class="billing-address-wrapper"><div class="billing-address">21 SEP, 2020</div></div>
        <div class="div-3">
          <div class="product-2">
            <img class="image-4" src="assets/img/apple-negative-1-5.png" />
            <div class="content-2">
              <div class="div-3">
                <div class="div-4">
                  <img class="regular-star-2" src="assets/img/apple-negative-1-5.png" />
                  <img class="regular-star-3" src="assets/img/apple-negative-1-5.png" />
                  <img class="regular-star-4" src="assets/img/apple-negative-1-5.png" />
                  <img class="regular-star-5" src="assets/img/apple-negative-1-5.png" />
                  <img class="regular-star-6" src="assets/img/apple-negative-1-5.png" />
                </div>
                <div class="element">(647)</div>
              </div>
              <p class="DELL-inch-full">Wired Over-Ear Gaming Headphones with USB</p>
              <div class="div-3"><div class="element-2">$1,500</div></div>
            </div>
          </div>
          <img class="devider-3" src="assets/img/apple-negative-1-5.png" />
          <div class="product-2">
            <img class="image-5" src="assets/img/apple-negative-1-5.png" />
            <div class="content-2">
              <div class="div-3">
                <div class="div-4">
                  <img class="regular-star-7" src="assets/img/apple-negative-1-5.png" />
                  <img class="regular-star-8" src="assets/img/apple-negative-1-5.png" />
                  <img class="regular-star-9" src="assets/img/apple-negative-1-5.png" />
                  <img class="regular-star-10" src="assets/img/apple-negative-1-5.png" />
                  <img class="regular-star-11" src="assets/img/apple-negative-1-5.png" />
                </div>
                <div class="element">(877)</div>
              </div>
              <p class="DELL-inch-full">Polaroid 57-Inch Photo/Video Tripod with Deluxe Tripod Ca...</p>
              <div class="div-3">
                <div class="element-3">$1600</div>
                <div class="element-2">$1,200</div>
              </div>
            </div>
            <div class="badge-3"><div class="text-wrapper-8">25% OFF</div></div>
          </div>
          <img class="devider-3" src="assets/img/apple-negative-1-5.png" />
          <div class="product-2">
            <img class="image-6" src="assets/img/apple-negative-1-5.png" />
            <div class="content-2">
              <div class="div-3">
                <div class="div-4">
                  <img class="regular-star-12" src="assets/img/apple-negative-1-5.png" />
                  <img class="regular-star-13" src="assets/img/apple-negative-1-5.png" />
                  <img class="regular-star-14" src="assets/img/apple-negative-1-5.png" />
                  <img class="regular-star-15" src="assets/img/apple-negative-1-5.png" />
                  <img class="regular-star-16" src="assets/img/apple-negative-1-5.png" />
                </div>
                <div class="element">(492)</div>
              </div>
              <p class="DELL-inch-full">Dell Optiplex 7000x7480 All-in-One Computer Monitor</p>
              <div class="div-3"><div class="element-2">$250</div></div>
            </div>
          </div>
          <img class="devider-4" src="assets/img/apple-negative-1-5.png" />
          <div class="product-2">
            <img class="image-7" src="assets/img/apple-negative-1-5.png" />
            <div class="content-2">
              <div class="div-3">
                <div class="div-4">
                  <img class="regular-star-17" src="assets/img/apple-negative-1-5.png" />
                  <img class="regular-star-18" src="assets/img/apple-negative-1-5.png" />
                  <img class="regular-star-19" src="assets/img/apple-negative-1-5.png" />
                  <img class="regular-star-20" src="assets/img/apple-negative-1-5.png" />
                  <img class="regular-star-21" src="assets/img/apple-negative-1-5.png" />
                </div>
                <div class="element">(423)</div>
              </div>
              <p class="DELL-inch-full">Polaroid 57-Inch Photo/Video Tripod with Deluxe Tripod Ca...</p>
              <div class="div-3">
                <div class="element-3">$1600</div>
                <div class="element-2">$1,200</div>
              </div>
            </div>
            <div class="badge-3"><div class="text-wrapper-8">25% OFF</div></div>
          </div>
        </div>
      </div>
      <div class="browsing-history-5">
        <div class="billing-address-wrapper"><div class="billing-address">22 OCT, 2020</div></div>
        <div class="products">
          <div class="div-3">
            <div class="product-2">
              <img class="image-8" src="assets/img/apple-negative-1-5.png" />
              <div class="content-2">
                <div class="div-3">
                  <div class="div-4">
                    <img class="regular-star-22" src="assets/img/apple-negative-1-5.png" />
                    <img class="regular-star-23" src="assets/img/apple-negative-1-5.png" />
                    <img class="regular-star-24" src="assets/img/apple-negative-1-5.png" />
                    <img class="regular-star-25" src="assets/img/apple-negative-1-5.png" />
                    <img class="regular-star-26" src="assets/img/apple-negative-1-5.png" />
                  </div>
                  <div class="element">(556)</div>
                </div>
                <p class="DELL-inch-full">4K UHD LED Smart TV with Chromecast Built-in</p>
                <div class="div-3"><div class="element-2">$220</div></div>
              </div>
              <div class="badge-4"><div class="text-wrapper-7">SALE</div></div>
            </div>
          </div>
        </div>
      </div>
      <button class="button">
        <button class="button-2">
          <img class="regular-spinner" src="assets/img/apple-negative-1-5.png" />
          <div class="label">LOAD MORE</div>
        </button>
      </button>
      <div class="filter">
        <div class="input-field">
          <input class="email-address" placeholder="Search in browsing history" type="text" />
          <img class="regular" src="assets/img/regular-magnifyingglass-3.svg" />
        </div>
        <div class="date">
          <div class="overlap-group-2">
            <div class="calendar-date-popup">
              <div class="heading-2">
                <img class="regular-arrowleft" src="assets/img/apple-negative-1-5.png" />
                <div class="text-wrapper-9">January 2021</div>
                <img class="regular-arrowright" src="assets/img/apple-negative-1-5.png" />
              </div>
              <div class="div-5">
                <div class="div-4">
                  <div class="calender-components"><div class="DD">Mo</div></div>
                  <div class="calender-components"><div class="DD">Tu</div></div>
                  <div class="calender-components"><div class="DD">We</div></div>
                  <div class="calender-components"><div class="DD">Th</div></div>
                  <div class="calender-components"><div class="DD">Fr</div></div>
                  <div class="calender-components"><div class="DD">Sa</div></div>
                  <div class="calender-components"><div class="DD">Su</div></div>
                </div>
                <div class="div-4">
                  <div class="calender-components-2"><div class="text-wrapper-10">31</div></div>
                  <div class="calender-components-2"><div class="text-wrapper-11">1</div></div>
                  <div class="calender-components-2"><div class="text-wrapper-11">2</div></div>
                  <div class="calender-components-2"><div class="text-wrapper-11">3</div></div>
                  <div class="calender-components-2"><div class="text-wrapper-11">4</div></div>
                  <div class="calender-components-2"><div class="text-wrapper-11">5</div></div>
                  <div class="calender-components-2"><div class="text-wrapper-11">6</div></div>
                </div>
                <div class="div-4">
                  <div class="calender-components-2"><div class="text-wrapper-11">7</div></div>
                  <div class="calender-components-2"><div class="text-wrapper-11">8</div></div>
                  <div class="calender-components-2"><div class="text-wrapper-11">9</div></div>
                  <div class="element-wrapper"><div class="element-4">10</div></div>
                  <div class="calender-components-2"><div class="text-wrapper-10">11</div></div>
                  <div class="calender-components-2"><div class="text-wrapper-10">12</div></div>
                  <div class="calender-components-2"><div class="text-wrapper-10">13</div></div>
                </div>
                <div class="div-4">
                  <div class="calender-components-2"><div class="text-wrapper-10">16</div></div>
                  <div class="calender-components-2"><div class="text-wrapper-10">17</div></div>
                  <div class="calender-components-2"><div class="text-wrapper-10">18</div></div>
                  <div class="calender-components-2"><div class="text-wrapper-10">19</div></div>
                  <div class="calender-components-2"><div class="text-wrapper-10">20</div></div>
                  <div class="calender-components-2"><div class="text-wrapper-10">21</div></div>
                  <div class="calender-components-2"><div class="text-wrapper-10">22</div></div>
                </div>
                <div class="div-4">
                  <div class="calender-components-2"><div class="text-wrapper-10">23</div></div>
                  <div class="calender-components-2"><div class="text-wrapper-10">24</div></div>
                  <div class="calender-components-2"><div class="text-wrapper-10">25</div></div>
                  <div class="calender-components-2"><div class="text-wrapper-10">26</div></div>
                  <div class="calender-components-2"><div class="text-wrapper-10">27</div></div>
                  <div class="calender-components-2"><div class="text-wrapper-10">28</div></div>
                  <div class="calender-components-2"><div class="text-wrapper-10">29</div></div>
                </div>
                <div class="div-4">
                  <div class="calender-components-2"><div class="text-wrapper-10">30</div></div>
                  <div class="calender-components-2"><div class="text-wrapper-10">1</div></div>
                  <div class="calender-components-2"><div class="text-wrapper-10">2</div></div>
                  <div class="calender-components-2"><div class="text-wrapper-10">3</div></div>
                  <div class="calender-components-2"><div class="text-wrapper-10">4</div></div>
                  <div class="calender-components-2"><div class="text-wrapper-10">5</div></div>
                  <div class="calender-components-2"><div class="text-wrapper-10">6</div></div>
                </div>
              </div>
            </div>
            <div class="input-field-2">
              <div class="email-address-2">DD/MM/YYYY</div>
              <img class="regular" src="assets/img/regular-calendarblank-1.svg" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer">
    <div class="footer-2">
      <div class="clicon-ecommerce">
        <div class="logo">
          <img class="icon" src="assets/img/apple-negative-1-5.png" />
          <div class="text-wrapper-12">CLICON</div>
        </div>
        <div class="div-2">
          <div class="div-6">
            <div class="text-wrapper-13">Customer Supports:</div>
            <div class="text-wrapper-14">(629) 555-0129</div>
          </div>
          <p class="p">4517 Washington Ave. Manchester, Kentucky 39495</p>
          <div class="text-wrapper-15">info@kinbo.com</div>
        </div>
      </div>
      <div class="div-2">
        <div class="text-wrapper-16">TOP CATEGORY</div>
        <div class="div-5">
          <div class="footer-links"><div class="electronics">Computer &amp; Laptop</div></div>
          <div class="footer-links"><div class="electronics">SmartPhone</div></div>
          <div class="footer-links"><div class="electronics">Headphone</div></div>
          <div class="footer-links">
            <img class="devider-5" src="assets/img/apple-negative-1-5.png" />
            <div class="text-wrapper-17">Accessories</div>
          </div>
          <div class="footer-links"><div class="electronics">Camera &amp; Photo</div></div>
          <div class="footer-links"><div class="electronics">TV &amp; Homes</div></div>
          <button class="button-3">
            <div class="text-wrapper-18">Browse All Product</div>
            <img class="regular-arrowright-2" src="assets/img/apple-negative-1-5.png" />
          </button>
        </div>
      </div>
      <div class="div-2">
        <div class="text-wrapper-16">QUICK LINKS</div>
        <div class="div-5">
          <div class="footer-links"><div class="electronics">Shop Product</div></div>
          <div class="footer-links"><div class="electronics">Shoping Cart</div></div>
          <div class="footer-links"><div class="electronics">Wishlist</div></div>
          <div class="footer-links"><div class="electronics">Compare</div></div>
          <div class="footer-links"><div class="electronics">Track Order</div></div>
          <div class="footer-links"><div class="electronics">Customer Help</div></div>
          <div class="footer-links"><div class="electronics">About Us</div></div>
        </div>
      </div>
      <div class="div-7">
        <div class="text-wrapper-16">DOWNLOAD APP</div>
        <div class="div-2">
          <div class="mobile-app">
            <img class="icon-google-play" src="assets/img/apple-negative-1-5.png" />
            <div class="div-6">
              <div class="text-wrapper-19">Get it now</div>
              <div class="text-wrapper-20">Google Play</div>
            </div>
          </div>
          <div class="mobile-app">
            <img class="apple-negative" src="assets/img/apple-negative-1-5.png" />
            <div class="div-6">
              <div class="text-wrapper-19">Get it now</div>
              <div class="text-wrapper-20">App Store</div>
            </div>
          </div>
        </div>
      </div>
      <div class="div-7">
        <div class="popular-tag">POPULAR TAG</div>
        <div class="tag">
          <div class="row-2">
            <div class="cooking-wrapper"><div class="text-wrapper-17">Game</div></div>
            <div class="cooking-wrapper"><div class="text-wrapper-17">iPhone</div></div>
            <div class="cooking-wrapper"><div class="text-wrapper-17">TV</div></div>
            <div class="cooking-wrapper"><div class="text-wrapper-17">Asus Laptops</div></div>
          </div>
          <div class="row-2">
            <div class="cooking-wrapper"><div class="text-wrapper-17">Macbook</div></div>
            <div class="cooking-wrapper"><div class="text-wrapper-17">SSD</div></div>
            <div class="tag-2"><div class="text-wrapper-17">Graphics Card</div></div>
          </div>
          <div class="row-2">
            <div class="cooking-wrapper"><div class="text-wrapper-17">Power Bank</div></div>
            <div class="cooking-wrapper"><div class="text-wrapper-17">Smart TV</div></div>
            <div class="cooking-wrapper"><div class="text-wrapper-17">Speaker</div></div>
          </div>
          <div class="row-2">
            <div class="cooking-wrapper"><div class="text-wrapper-17">Tablet</div></div>
            <div class="cooking-wrapper"><div class="text-wrapper-17">Microwave</div></div>
            <div class="cooking-wrapper"><div class="text-wrapper-17">Samsung</div></div>
          </div>
        </div>
      </div>
    </div>
    <div class="copyright">
      <p class="text-wrapper-21">Kinbo - eCommerce Template © 2021. Design by Templatecookie</p>
    </div>
  </div>
</div>
